<template name="home">
  <div class="template-home">
    <div class="jumbotron">
	  <h1>Bienvenido a <strong class="text-nowrap">Bi-Productive</strong></h1>
	  <p>
	  	El sistema de gestión de producción de 
	  	<a href="http://www.binpar.com">BinPar Team S.L.</a>
	  </p>
	  <p class="text-right"><a class="btn btn-primary btn-lg " href="#" role="button">Más detalles</a></p>
	</div>
	<div class="page-header">
    <h2>Una aplicación de código abierto</h2>
  </div>
  <p>
    Bi-Productive es el primer prouyecto de BinPar basado al <strong>100%</strong> en código abierto.
  </p>       
  <p>Es posible bajarse la fuente y consultar su evolución desde el correnpondiente repositorio de <a href="https://github.com/drnachio/Bi-Productive">Git-Hub</a>.</p>
  <div class="panel panel-default">
    <div class="panel-heading">Información sobre el repositorio de GitGub</div>
      <div class="panel-body">
  	    <iframe src="https://ghbtns.com/github-btn.html?user=drnachio&repo=Bi-Productive&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
  	    <iframe src="https://ghbtns.com/github-btn.html?user=drnachio&repo=Bi-Productive&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
  	    <iframe src="https://ghbtns.com/github-btn.html?user=drnachio&type=follow&count=true" frameborder="0" scrolling="0" width="130px" height="20px"></iframe>
      </div>
    </div>
  </div>
	<div class="page-header">
		<h2>Historial de cambios</h2>
  </div>
	{{> codeVersions}}
</template>