<template name="home">
  <div class="template-home">
    <div class="jumbotron">
	  <h1>Bienvenido a <strong class="text-nowrap">Bi-Productive</strong></h1>
	  <p>
	  	El sistema de gestión de producción de 
	  	<a class="btn btn-primary btn-xs" href="http://www.binpar.com"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> BinPar Team S.L.</a>
	  </p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
	<div class="page-header">
      <h2>Una aplicación de código abierto</h2>
    </div>
    <p>
      Bi-Productive es el primer prouyecto de BinPar basado al <strong>100%</strong> en código abierto.
    </p>
    
  </div>
</template>
