<template name="updates">
	<ul class="timeline">
      <li>
        <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
          </div>
          <div class="timeline-body">
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-badge success"><i class="glyphicon glyphicon glyphicon-send"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h3 class="timeline-title"><srtong>V0.1</srtong> Se inicia el proyecto de desarrollo</h3>
            <p>
            	<small class="text-muted"><i class="glyphicon glyphicon-calendar"></i> 05/08/2015</small>
	            <small class="text-muted"> por <i class="glyphicon glyphicon-user"></i> DRNachio</small>
            </p>
          </div>
          <div class="timeline-body">
            <p>Con más miedo que vergüenza (sobre todo debido a la cantidad de tecnologías nuevas aplicadas) inicio el desarrollo de Bi-Productive.</p>
			<p>Lo creo como un proyecto de código abierto (por si alguna otra empresa pudiera necesitarlo), aunque en las fases iniciales se centrará en las necesidades de producción de <a href="http://www.binpar.com">BinPar</a>.</p>
			<p>Esta primera versión pone el foco en evolucionar el <a href="http://github.differential.com/meteor-boilerplate/">Boilerplate</a> de <a href="http://www.meteor.com/">Meteor</a> desarrollado por <a href="http://differential.com/">Diferencial</a> incorporando las necesidades básicas de BinPar.</p>
			<p>El estilo visual estará absolutamente basado en la vestión <a href="http://lesscss.org/">less</a> de <a href="http://getbootstrap.com/">Boostrap</a> y, de cara a permitir su personalización a futuro para otras empresas y para no necesitar adaptarlo a futuras versiones de <a href="http://getbootstrap.com/">Boostrap</a> ha sido personalizado ajustando las variables less definidas para este proposito mediante <a href="http://bootstrap-live-customizer.com/">Boostrap Live Customizer</a>.</p>
          </div>
        </div>
      </li>       
  </ul>
</template>
