<template name="notFound">
	<div class="not-found page jumbotron">
		<h1>Error 400  <span id="avion" class="glyphicon glyphicon-send" aria-hidden="true"></span></h1>
		<h2>No hemos podido encontrar la página</h2>
		<p>Lo sentimos pero no hemos podido encontrar la página solicitada.</p>
		<p>Probablemente alguno de nuestros programadores se despistó por un momento, pero pronto lo resolverá.</p>
		<p>En cualquier caso rogamos no tome represalias violentas contra ninguna persona de nuestro equipo hasta estar seguro de que es el culpable absoluto del problema.</p>
	</div>
</template>