::-moz-selection { background: @brand-primary; color: #fff; text-shadow: none; }
::selection { background: @brand-primary; color: #fff; text-shadow: none; }

@import './timeline.less';

h1 srtong,h2 srtong,h3 srtong,h4 srtong,h5 srtong
{
  font-weight:900;
}

footer
{
  width:100%;
  background-color: black;
  height:40px;
  color: @brand-primary;
  margin-bottom:0px;
  padding-top:10px;
  position: relative;
  clear:both;
  margin-top: -42px;
}

html,body  {
  height: 100%;
}

#wrap {
  min-height: 100%;
  padding-bottom: 50px;
}

#main {
  overflow:auto;
  padding-bottom:50px; /* this needs to be bigger than footer height*/
}
footer a
{
  color: white;
}

p {
  text-align: justify;
}

li {
  text-align: justify;
}
@media (max-width: @screen-xs-max) {
  .hidden-small{
    visibility: hidden;
  }
}

@media (min-width: @screen-md-min) {
  .fixScrumHeight.fixScrumHeight
  {
    margin-bottom:19px;
    margin-top:46px;
  }
}


@media (min-width: @screen-lg-min) {
  .fixScrumHeight.fixScrumHeight
  {
    margin-top:0px;
    margin-bottom:-2px;
  }
}



.list-group-item .btn-group .btn-masmenos
{
  margin:-3px;
  margin-right: 4px;
  background-color: #ccc;
  border: #888;
  color:black;
  border-radius: 9px;
  width: 20px;
  margin-top: -5px;
}

.pull-right-padding-fix
{
  padding-right:0px;
}


@media (max-width: @screen-sm-min) {
  .pull-right-padding-fix
  {
    padding-left:0px;
  }
}

#demoList .list-group-item{
  position:relative;
}

#demoList .list-group-item.animate{
  transition:all 250ms 0ms ease-in;
}

.topMost{
  z-index:10;
  //background-color: darken(@list-group-bg,5%);
}

.form-group.has-error, .form-group.has-error .help-block, .form-group.has-error .control-label, .form-group.has-error .radio, .form-group.has-error .checkbox, .form-group.has-error .radio-inline, .form-group.has-error .checkbox-inline, .form-group.has-error.radio label, .form-group.has-error.checkbox label, .form-group.has-error.radio-inline label, .form-group.has-error.checkbox-inline label{
  color: @brand-danger;
}

.dataTables_paginate .pagination > li > a, .dataTables_paginate .pagination > li > span
{
  padding: 4px 8px;
}

.reduceTop {
  margin-top: -15px;
}

.table-striped.binpar-resizeable > tbody tr{
  cursor: pointer;
}

.table-striped.binpar-resizeable > tbody tr:hover
{
  background-color: @brand-primary;
}

td ul li {
  text-align: left;
}

table.nowrap tr td, table.nowrap tr th{
  white-space: nowrap;
  overflow: hidden;
}
table.nowrap{
  table-layout:fixed;
}


// Typography
th.dt-left,
td.dt-left {
  text-align: left;
}

th.dt-center,
td.dt-center,
td.dataTables_empty {
  text-align: center;
}

th.dt-right,
td.dt-right {
  text-align: right;
}

th.dt-justify,
td.dt-justify {
  text-align: justify;
}

th.dt-nowrap,
td.dt-nowrap {
  white-space: nowrap;
}

thead,
tfoot {
  th.dt-head-left,
  td.dt-head-left {
    text-align: left;
  }

  th.dt-head-center,
  td.dt-head-center{
    text-align: center;
  }

  th.dt-head-right,
  td.dt-head-right {
    text-align: right;
  }

  th.dt-head-justify,
  td.dt-head-justify {
    text-align: justify;
  }

  th.dt-head-nowrap,
  td.dt-head-nowrap {
    white-space: nowrap;
  }
}

tbody {
  th.dt-body-left,
  td.dt-body-left {
    text-align: left;
  }

  th.dt-body-center,
  td.dt-body-center {
    text-align: center;
  }

  th.dt-body-right,
  td.dt-body-right {
    text-align: right;
  }

  th.dt-body-justify,
  td.dt-body-justify {
    text-align: justify;
  }

  th.dt-body-nowrap,
  td.dt-body-nowrap {
    white-space: nowrap;
  }
}


table.dataTable thead > tr > th
{
  padding-left: 6px;
}

.condensed-form .form-group {
  margin-bottom:  0px;
}

.condensed-form .form-horizontal .control-label {
  padding-bottom: 0px;
  margin-top: 5px;
  padding-top:0px;
  margin-bottom:0px;
}
.condensed-form .form-horizontal .form-group .form-group .control-label {
  margin-bottom:4px;
  margin-top:0px;
}

.condensed-form .form-horizontal .form-group .form-group .form-control {
  margin-bottom:-6px;
}

.condensed-form .form-horizontal .form-group .list-group .btn{
  padding: 1px 4px;
}
.condensed-form .form-horizontal .form-group .list-group .btn .glyphicon-plus {
  left:1.2px;
}

.condensed-form .form-control {
  height: 32px;
  padding: 4px 7px;
}
.condensed-form .form-horizontal .form-group .list-group .panel.panel-default.autoform-padding-fix {
  margin-top: -22px;
  margin-bottom: 0px;
}
.condensed-form .form-horizontal .form-group .list-group .list-group-item {
  padding-right: 9px;
}

.condensed-form .form-horizontal .form-group .list-group .panel.panel-default.autoform-padding-fix .panel-body {
  padding-top: 6px;
  padding-bottom: 6px;
}
.condensed-form .form-horizontal .form-group .checkbox {
  padding-top: 1px;
  margin-bottom: -20px;
}

.moveUpDelete {
  margin-top: -44px;
  z-index: 10;
}
.moveUpDelete button
{
  position: relative;
}
.pc-dimmer
{
  position: fixed;
}

