::-moz-selection { background: @brand-primary; color: #fff; text-shadow: none; }
::selection { background: @brand-primary; color: #fff; text-shadow: none; }

@import './timeline.css';
h1 srtong,h2 srtong,h3 srtong,h4 srtong,h5 srtong
{
	font-weight:900;
}